
@{
    ViewData["Title"] = "AllProjects";
}

<h1 style="text-align:center; font-family:Georgia;">A List of All Projects</h1>
<br>

<table id="resultTable" border="1" class="table table-sm" cellpadding="1" cellspacing="1">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Category
            </th>
            <th scope="col">
                BudgetGoal
            </th>
            <th scope="col">
                Balance
            </th>
            <th scope="col">
                StatusUpdate
            </th>
            <th scope="col">
                Available
            </th>
            <th scope="col">
                Funded
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>

<script src="~/js/AllProjects.js"></script>



