
@{
    ViewData["Title"] = "AllProjects";
}

<h1>AllProjects</h1>

<table id="resultTable" border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            BudgetGoal
        </th>
        <th>
            Balance
        </th>
        <th>
            StatusUpdate
        </th>
        <th>
            Available
        </th>
        <th>
            Funded
        </th>
        <th>Action</th>
    </tr>

  

</table>

<script src="~/js/AllProjects.js"></script>



