
@{
    ViewData["Title"] = "TrendingProjects";
}

<h1 style="text-align:center; font-family:Georgia;">Projects</h1><br>

<table id="resultTable" border="1" class="table table-sm">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Description
            </th>
            <th scope="col">
                Category
            </th>
            <th scope="col">
                BudgetGoal
            </th>
            <th scope="col">
                Balance
            </th>
            <th scope="col">
                StatusUpdate
            </th>
            <th scope="col">
                Available
            </th>
            <th scope="col">
                Funded
            </th>
            <th scope="col">
                DoA
            </th>
        </tr>
    </thead>
  

</table>

<script src="~/js/TrendingProjects.js"></script>



