@model FundMeUpMVC.Models.BackerModel
@{
    ViewData["Title"] = "BackerPage";
}

<h3 id="NameAhead" style="text-align:center; color:brown;"></h3>

<br />
<form class="needs-validation" novalidate>
    <div class="form-row">

        <div class="col-md-6 mb-3">
            <label for="FirstName">FirstName</label>
            <input type="text" class="form-control" id="FirstName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" id="LastName" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="Profession">Profession</label>
            <input type="text" class="form-control" id="Profession" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

    </div>
    <div class="form-row">

        <div class="col-md-6 mb-3">
            <label for="Address">Address</label>
            <input type="text" class="form-control" id="Address" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid Address.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid email.
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="Password">Give a Strong Password</label>
            <input type="password" class="form-control" id="Password" required>
            <div class="valid-feedback">
                Totally Safe Now!
            </div>
        </div>

    </div>
    <br />
    

    <span>
        <button class="btn btn-primary" type="submit" onclick="Update()"> Update </button>
        <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" value="Delete" />
    </span>

</form>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Backer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Backer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" id="DelButton" value="Delete" onclick="DeleteB()" />
            </div>
        </div>
    </div>
</div>

<div id="responseDiv"></div>
<script src="~/js/update-backer.js"></script>
<!-- αν θες να λειτουργει το κουμπι που βλεπεις στον πινακα αλλαζεις το script στην 113 σε all-backers και την onclick στην 106 σε deleteBacker(Id) -->
