
@{
    ViewData["Title"] = "AdminPage";
}

<h1 style="color:darkblue;" align="center">Database</h1><br>
<div class="card-deck">
    <div class="card" >
        <img class="card-img-top" src="~/images/αρχείο λήψης_1a7a.png" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Projects DB</h5>
            <button  id="Projects" class="btn btn-primary" onclick="window.open('/Project/AllProjects')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/αρχείο λήψης (1)_a2a5.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Backers DB</h5>
            <button id="Backers" class="btn btn-primary" onclick="window.open('/Backer/AllBackers')">Show Backers</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/αρχείο λήψης_7a97.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Project Creators DB</h5>
            <button id="PCreators" class="btn btn-primary" onclick="window.open('/ProjectCreator/AllProjectCreators')">Show Project Creators</button>
        </div>
    </div>
</div>