
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/hello.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Enviroment</h5>
            <button id="Art" class="btn btn-primary" onclick="ProjectsByCategory(this.id)">Show Project</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Technology</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Art</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Music</h5>
        </div>
    </div>
</div>

<br><br>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Enviroment</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Technology</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Art</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Music</h5>
        </div>
    </div>
</div>