
@{
    ViewData["Title"] = "Categories";
}

<h1 style="color:darkblue;">Categories</h1><br>
<div class="card-deck">
    <div class="card" >
        <img class="card-img-top" src="~/images/enviroment.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Enviroment</h5>
            <button  id="Enviroment" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/tech.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <button id="Technology" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/art.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Art</h5>
            <button id="Art"  value="Art" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/music.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Music</h5>
            <button id="Music" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
</div>

<br>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/food.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Food</h5>
            <button id="Food" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/sport.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Sports</h5>
            <button id="Sports" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/health.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Health</h5>
            <button id="Health" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/gaming.jpg" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">Gaming</h5>
            <button id="Gaming" class="btn btn-primary" onclick="window.open('/Home/Category/'+this.id,'_self')">Show Projects</button>
        </div>
    </div>
</div>

