@{
    ViewData["Title"] = "LoginProjectCreator";
}

<h1>Welcome Project Creator</h1>

<form id="LoginProjectCreator">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" />
            <br />
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" />
            <br />
            <input type="button" onclick="loginButtonPC()" value="ENTER">
        </div>
    </div>
</form>

<div id="responseDiv">   </div>
<script src="~/js/loginUser.js"></script>