@{
    ViewData["Title"] = "LoginBacker";
}

<h1>Login User</h1>

<form id="LoginBacker">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" name="Email" />
            <br />
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" />
            <br />
            <input type="button" id="loginButton" value="Submit">
        </div>
    </div>
</form>

<div id="responseDiv">   </div>
<script src="~/js/site.js"></script>