@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<h1>WELCOME USER</h1>*@

@*<form id="LoginButton">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>ARE YOU A PROJECT CREATOR</label>
                <br />
                <input type="button" id="button1" class="button" onclick="location.href='LoginProjectCreator';" value="YES" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>ARE YOU A BACKER</label>
                <br />
                <input type="button" id="button2" class="button" onclick="location.href = 'LoginBacker';" value="YES" />
            </div>
        </div>
    </form>

    <div id="responseDiv">   </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-md-6">

            <h1 class="text-center text-success"> Sign In</h1>
            <br /><br/>

            <div class="col-sm-12">

                <ul class="nav nav-pills">



                    <li class="" style="width:50%"><a class="btn btn-lg btn-default" data-toggle="tab" href="#home">Backer</a></li>

                    <li class=" " style="width:48%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#menu1">Project Creator</a></li>



                </ul>

                <br /><br />

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">

                        <form id="LoginBacker">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" name="Email" />
                                    <br />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="Password" name="Password" />
                                    <br />

                                </div>
                            </div>
                            <input class="pull-right btn btn-block btn-success" type="button" onclick="loginButtonB()" value="ENTER">
                        </form><br /><br />
                        <a href="/Home/SignUp" class="pull-right btn btn-block btn-info">Sign Up  </a>

                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <form id="LoginProjectCreator">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="EmailC" name="Email" />
                                    <br />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="PasswordC" name="Password" />
                                    <br />
                                </div>
                            </div>
                            <input class="pull-right btn btn-block btn-success" type="button" onclick="loginButtonPC()" value="ENTER">
                        </form>

                        <br /><br />
                        <a href="/Home/SignUp" class="pull-right btn btn-block btn-info"> Sign Up  </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="responseDiv">   </div>

<script src="~/js/loginUser.js"></script>