@model BackerModel
@{
    ViewData["Title"] = "CreateBacker";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-md-6">

            <h1 class="text-center text-success" style="font-family:Georgia;"> Sign Up</h1>
            <br /><br />

            <div class="col-sm-12">
                <ul class="nav nav-pills">
                    <li class="" style="width:50%"><a class="btn btn-lg btn-default" data-toggle="tab"
                                                      href="#backerMenu" id="Backer" onclick="GetUser(this.id)">Backer</a></li>
                    <li class=" " style="width:48%"><a class=" btn btn-lg btn-default" data-toggle="tab" 
                                                       href="#projectCreatorMenu" id="Creator" onclick="GetUser(this.id)">Project Creator</a></li>
                </ul>
                <br />
                <br />
                <div class="tab-content">
                    <div id="backerMenu" class="tab-pane fade in active">

                        <form class="needs-validation" novalidate>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="FirstName">FirstName</label>
                                    <input type="text" class="form-control" id="FirstName" placeholder="Write your first Name" value="" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="LastName">LastName</label>
                                    <input type="text" class="form-control" id="LastName" placeholder="Write your last Name" value="" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Profession">Profession</label>
                                    <input type="text" class="form-control" id="Profession" placeholder="Write your Profession" value="" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="Address">Address</label>
                                    <input type="text" class="form-control" id="Address" placeholder="Write your Address" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" placeholder="Write your Email" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Email.
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="Password" placeholder="Write a Password" autocomplete="off" required>
                                    <div class="valid-feedback">
                                        Totally Safe Now!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Password.
                                    </div>
                                </div>
                            </div>

                            <br />
                            <button class="pull-right btn btn-block btn-success" id="Backer" type="submit" value="Backer"> Create </button>

                        </form>

                        <br /><br />
                        <a href="/Home/Login" class="pull-right btn btn-block btn-info"> Already Register ?   </a>
                    </div>

                    <div id="projectCreatorMenu" class="tab-pane fade">

                        <form class="needs-validation" novalidate>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="FirstName">FirstName</label>
                                    <input type="text" class="form-control" id="FirstNameC" placeholder="Write your first Name" value="" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="LastName">LastName</label>
                                    <input type="text" class="form-control" id="LastNameC" placeholder="Write your last Name" value="" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-6 mb-3">
                                    <label for="Address">Address</label>
                                    <input type="text" class="form-control" id="AddressC" placeholder="Write your Address" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Answer.
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="EmailC" placeholder="Write your Email" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Email.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-6 mb-3">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="PasswordC" placeholder="Write a Password" autocomplete="off" required>
                                    <div class="valid-feedback">
                                        Totally Safe Now!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please provide a valid Password.
                                    </div>
                                </div>
                            </div>
                            <br />

                            <button class="pull-right btn btn-block btn-success" id="Creator" type="submit" value="Creator"> Create </button>

                        </form>
                        <br /><br />
                        <a href="/Home/Login" class="pull-right btn btn-block btn-info"> Already Register ?   </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="responseDiv">   </div>
<script src="~/js/signup.js"></script>

